body,
html {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

#sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: none;
}

.fab {
  transition: all 1.5s ease-in-out;
  color: white;
}

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
}

#about {
  background-color: #d3d3d3;
  height: 800px;
  width: 100%;
}

#code {
  /*width: 700px;*/
  width: 70%;
  margin: auto;
  padding-top: 50px;
  height: 700px;
  text-align: left;
  color: #fafafa;
}

#console-title-bar {
  width: 70%;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
  color: black;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#console {
  /*width: 700px;*/
  width: 70%;
  padding: 20px;
  height: 650px;
  margin: auto;
  background: #4b4b4b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#projects {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
}

#projects-list {
  display: flex;
  flex-wrap: wrap;
}

#project-text {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #4b4b4b;
  font-size: 60px;
}

.project {
  width: 200px;
  margin-bottom: 25rem;
  margin-right: 20px;
}

/*
@media only screen and (min-width: 600px) {
  html {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 800px) {
  html {
    zoom: 0.9;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 1;
  }
}
*/
